# CMake

sdl_port_project/CMakeCache.txt
sdl_port_project/CMakeFiles/
sdl_port_project/Makefile
sdl_port_project/cmake_install.cmake

# Compiled binary

sdl_port_project/catacomb

# Data files

*.CA2

# Visual Studio stuff

/build

# CMake commands, for C2Rust

sdl_port_project/compile_commands.json

# Rust

/Cargo.lock
/target
